body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-link {
  border-bottom: none;
}

.custom-brand-link {
  display: block;
  padding: 16.25px;
  font-weight: bold;
  text-decoration: none;
}

.bg-grey-500 {
  background-color: #6c757d; /* Dark grey background */
  color: white; /* White text color */
  padding: 8px 16px; /* Padding to make it look oval */
  border-radius: 50px; /* Makes the cell look oval */
  text-align: center; /* Centers the text */
}

.bg-grey {
  background-color: #868e96; /* Lighter grey background */
  color: white; /* White text color */
  padding: 8px 16px; /* Padding to make it look oval */
  border-radius: 50px; /* Makes the cell look oval */
  text-align: center; /* Centers the text */
}
